<div class="container">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <%= render partial: 'leader' %>
      <h2>Willkommen zur체ck</h2>
      <p>Du hast dich schon mit dieser E-Mail angemeldet. In deinem Postfach ist eine E-Mail mit einem Link zum 채ndern deiner Anmeldung.</p>
      <p>Bitte 체berpr체fe dein Postfach <tt><%= @guest.email %></tt> und den SPAM-Ordner !</p>
      <p>Wenn du keine E-Mail bekommen hast dann <%= mail_to ENV['CONTACT_EMAIL'], 'kontaktiere uns' %>.</p>
    </div>
  </div>
</div>
