<section id="welcome-index-wedding-plan-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Der Ablauf</h1>
  </div>
</section>
<section id="welcome-index-wedding-plan">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Vortag</h2>
        <p>Es besteht die Möglichkeit, auch schon am Freitag, den <strong>30.06.2023</strong> anzureisen. </p><br>
        <p>Wenn wir genügend interessierte Gäste sind, können wir am Freitag schon gemütlich im Schloss Ziethen beim Barbecue zusammensitzen. 
        Wir würden jeden bitten, den Umkostenbeitrag für Freitag selbst zu tragen.</p><br> 
        Da das Schloss bei zu wenig Interessenten sonst am Freitag mit anderen Gästen belegt sein wird, bitten wir um Rückmeldung bis <strong>01.03.2023</strong>. </p> 
        <h2>Tagesablauf</h2>
        <p><strong>09.00</strong> &mdash; Frühstück mit Gästen (angereist am Vortag)</p>
        <p><strong>13.30</strong> &mdash; Begrüßung der Gäste durch Bräutigam und Trauzeugen</p>
        <p><strong>14.15</strong> &mdash; Versammlung der Gesellschaft an der Trauwiese</p>
        <p><strong>14.30</strong> &mdash; Zeromonie Freie Trauung</p>
        <p><strong>15.15</strong> &mdash; Glückwünsche an Brautpaar mit Sektempfang</p>
        <p><strong>16.30</strong> &mdash; Kaffee und Kuchen auf der Schlossterrasse</p>
        <p><strong>19.00</strong> &mdash; Aperitif auf der Schlossterrasse </p>
        <p><strong>19.30</strong> &mdash; Buffeteröffnung im Schloss </p>
        <p><strong>21.30</strong> &mdash; Fackelzug durch den Schlosspark</p>
        <p><strong>22.00</strong> &mdash; Beginn der Party</p>
        <p><strong>00.00</strong> &mdash; Currywurst-Brunnen</p>
        <p>Für den Tag gibt es eine Getränkepauschale und diverse Drinks, Bier, Wein und Spirituosen.</p>
        
        <p><strong>Dresscode</strong>: Festlich und schick.</p>

        <h2>Geschenke &amp; Karten</h2>
        <p>Nach all den Jahren des Zusammenlebens haben wir mittlerweile einen kompletten Hausstand. Wir würden uns daher am meisten über eine kleine Finanzspritze für unvergessliche Flitterwochen freuen. </p>
        <p>Dies kann gerne auch über den digitalen Weg erfolgen, so müssen sich unsere Trauzeugen an dem Tag nicht um die ganzen Geschenke sorgen.</p>
        <p class="text-center"><%= link_to 'Spende für Flitterwochen', @pay_pal_url, class: 'btn btn-primary wedding-cta-btn' %></p>
   
        <h2>Menü</h2>
        <p><strong>Vorspeisen</strong> &mdash; Infos folgen <sup>*</sup> &dagger;</p>
        <p><strong>Hauptgerichte</strong> &mdash; Infos folgen &ddagger;</p>
        <p><strong>Dessert</strong> &mdash; Infos folgen <sup>&sect;</sup></p>
        <p><strong>Kindermenü</strong>: Infos folgen</p>
        <ul class="list-unstyled">
          <li><small><sup>*</sup> vegetarische Vorspeise: Infos folgen</small></li>
                   <li><small>&ddagger; Vegetarisches Hauptmenü: Infos folgen </small></li>
         
        </ul>
      
        <h2>Zusagen</h2>
        <p>Wir würden euch bitten, euch bis zum <strong>01.04.2023</strong> zu entscheiden, ob und mit wie vielen Personen ihr teilnehmen wollt. Bitte teilt uns dies zeitnah mit.</p>
        <p>Somit ist es uns möglich, zusammen mit den unseren Dienstleistern, optimal zu planen. Vielen Dank für eure Mithilfe!</p>

        
      </div>
    </div>
  </div>
</section>
