<section id="welcome-index-venue-leader" class="jumbotron text-center">
  <div class="container">
    <h1>Ort</h1>
  </div>
</section>
<section id="welcome-index-venue">
  <div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h2>Wie komme ich dahin?</h2>
        <p>Ziethen ist gut mit dem Auto zu erreichen. Von der Abfahrt <strong>Kremmen</strong> der <strong>Autobahn A24</strong> kannst du bequem abfahren.<br> 
        <p>Ein Parkplatz mit Stellplätzen ist an dem Schloss vorhanden.</p>
        <p>Der Bahnhof Kremmen ist der nächste, er ist mit dem Regionalexpress zu erreichen. Von dort aus fährt die <strong>Busline 800</strong>, diese hält nur 10 Minuten Fußweg entfernt vom Schloss.</p>
        
        <h2>Du kommst von weiter weg?</h2>
        <p>Das Schloss Ziethen bietet als Hotel exklusiv Zimmer für die Hochzeitsgäste an. Jedoch sind diese <strong>begrenzt</strong>.</p>
        <p>Eine verbindliche Reservierung für die Hotelzimmer vor Ort muss bis <strong>01.04.2023</strong> über uns erfolgen.</p>
        <p>Bitte gebt den Übernachtungswunsch und die Personenanzahl (bei Kindern inkl. Alter) unter Anmerkungen bei der Anmeldung an.</p>

        <p>Des Weiteren gibt es in der Umgebung zahlreiche Pensionen und Ferienwohnungen, wo ihr übernachten könnt.</p>
        <p class="text-center"><%= link_to 'Alternatives Hotel', @google_maps_url_lebkuchen, class: 'btn btn-primary wedding-cta-btn' %></p>
      </div>
    </div>
  </div>
</section>
